{% extends "base.html" %}



{% block content %}
<table class="table table-condensed">
	<thead>
	<tr><td>pulsar</td></tr>
	</thead>
	<tbody>
        {% for fold in object_list %}<tr><td><a href="{% url 'bestprof_detail' fold.pk %}{{selection}}">P0 = {{fold.p_bary}}, DM {{fold.best_dm}}</a></td></tr>
		{% empty %}
<tr><td>No Candidates Found</td></tr>
{% endfor %}
</tbody>
</table>

{% if is_paginated %}
<div class="pagination">
	<ul>
		{% if page_obj.has_previous %}
		<li><a href="{{selection}}{% if selection %}&{% else %}?{% endif %}page={{page_obj.previous_page_number}}">Previous</a></li>
		{% else %}
		<li class="disabled"><a href="">Previous</a></li>
		{% endif %}
		<li class="active"><a href="">Page {{page_obj.number}}</a></li>
		{% if page_obj.has_next %}
		<li><a href="{{selection}}{% if selection %}&{% else %}?{% endif %}page={{page_obj.next_page_number}}">Next</a></li>
		{% else %}
		<li class="disabled"><a href="">Next</a></li>
		{% endif %}
	</ul>
</div>
{% endif %}
{% endblock content %}
