{% extends "base.html" %}


{% block content %}
<form method="POST" action="." class="form-horizontal">
<p class="text-error">{{form.non_field_errors}}</p>
{% csrf_token %}
{% for field in form.invisible_fields %}
{{field}}
{% endfor %}
{% for field in form.visible_fields %}
<div class="control-group{% if field.errors %} error{% endif %}">
	<label class="control-label" for="{{field.auto_id}}">{{field.label_tag}}</label>
	<div class="controls">
		{{field}}
		{% if field.errors %}
		<span class="help-inline">
		{% for error in field.errors %}
		{{error|escape}}
		{% endfor %}
		{% endif %}
		</span>
	</div>
</div>
{% endfor %}
<div class="control=troup">
	<div class="controls">
	<input type="submit" value="Apply constraints!" class="btn btn-primary">
	</div>
</div>


</form>
<br />
{% endblock %}
