{% extends "base.html" %}

{% load candidate_graph %}

{% block breadcrumbs %}Candidates list
{% if is_paginated %} : Page {{page_obj.number}} of {{paginator.num_pages}}
({% if page_obj.has_previous %}<a href="{% if selection %}?{{selection}}&{% else %}?{% endif %}page={{page_obj.previous_page_number}}">previous</a>
{% else %}previous{% endif %},
{% if page_obj.has_next %}<a href="{% if selection %}?{{selection}}&{% else %}?{% endif %}page={{page_obj.next_page_number}}">next</a>{% else %}next{% endif %})
{% endif %}

{% endblock %}

{% block content %}
<h1>Candidates (dm versus period)</h1>
{% candidate_histogram object_list %}
{% endblock content %}
